.main-container {
    display: grid;
    grid-template:
        'nav nav nav'
        'left main right'
        'foot foot foot';
    grid-gap: 10px;
    background-color: rgb(111, 113, 114);
    height: 100%;
}

.nav {
    background-color: aqua;
    grid-area: nav;
}

.center-content {
    background-color: rgb(51, 177, 57);
    grid-area: main;
}